---
Checks: '*,
  -abseil-*,
  -altera-*,
  -android-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -objc-*,
  -zircon-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-use-anyofallof,
  -readability-avoid-const-params-in-decls,
  -readability-else-after-return
'
HeaderFileExtensions:
  - ''
  - h
  - hpp
ImplementationFileExtensions:
  - c
  - cc
  - cpp
WarningsAsErrors: ''
HeaderFilterRegex: ''
SystemHeaders: false
FormatStyle: file

CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;5;6;7;8;9;255'
  - key: hicpp-braces-around-statements.ShortStatementLines
    value: 2
  - key: misc-const-correctness.AllowedTypes
    value: ''
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|i|j|k|w|h|cx|cy|p|n|r|g|b|sv'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z|w|h|cx|cy|p|sv'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;5;6;7;8;9;255'
...
